<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.OsCategoryMapper">
<!-- 这是操作OsCategoryMapper实体类的 -->
	<resultMap type="com.shop.po.OsCategory" id="BaseResultMap">
		<id column="category_id" jdbcType="BIGINT" property="categoryId"/>
		<result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="page_title" jdbcType="VARCHAR" property="pageTitle"/>
        <result column="page_description" jdbcType="VARCHAR" property="pageDescription"/>
	</resultMap>
<!-- 这是操作数据库的 -->
<resultMap id="IndexCategory" type="com.shop.vo.CategoryVO">
        <id column="category_id" jdbcType="BIGINT" property="categoryId"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <collection property="products" ofType="com.shop.po.OsProduct">
            <id column="product_id" jdbcType="BIGINT" property="productId"/>
            <result column="product_number" jdbcType="BIGINT" property="productNumber"/>
            <result column="pname" jdbcType="VARCHAR" property="name"/>
            <result column="show_price" jdbcType="DECIMAL" property="showPrice"/>
            <result column="introduce" jdbcType="VARCHAR" property="introduce"/>
            <result column="pic_img" jdbcType="VARCHAR" property="picImg"/>
            <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
            <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
            <result column="page_title" jdbcType="VARCHAR" property="pageTitle"/>
            <result column="page_description" jdbcType="VARCHAR" property="pageDescription"/>
            <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
        </collection>
    </resultMap>
	<sql id="Base_Column_List">
		category_id, name, create_time,update_time, page_title,page_description
	</sql>
	<!--  根据categoryId查询-->
	<select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select 
		<include refid="Base_Column_List"/>
		from os_category
		where category_id = #{categoryId,jdbcType=BIGINT}
	</select>
	<!--  根据categoryName查询-->
	<select id="selectCategoryByCategoryName" parameterType="java.lang.String" resultMap="BaseResultMap">
		select 
			<include refid="Base_Column_List"/>
		from os_category
		where name = #{name,jdbcType=VARCHAR}
	</select>
	<!--  根据商品Id查询-->
	<select id="selectCategorysByProductId" parameterType="java.lang.Long" resultMap="BaseResultMap">
		select 
		os_category.*
		from os_category,os_product
		where os_category.category_id =os_product.category_id and product_id=#{productId,jdbcType=BIGINT}
	</select>
	<!--  根据categoryId删除-->
     <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		os_category
		where category_id = #{categoryId,jdbcType=BIGINT}
	</delete>
	<!--  插入分类-->
    <insert id="insert" parameterType="com.shop.po.OsCategory">
		insert into os_category
		(category_id,name, create_time,
		update_time,page_title, page_description)
		values
		(#{categoryId,jdbcType=BIGINT}, #{parentId,jdbcType=BIGINT},
		#{name,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		#{updateTime,jdbcType=TIMESTAMP}, #{pageTitle,jdbcType=VARCHAR},
		#{pageDescription,jdbcType=VARCHAR},
	</insert>
	<!--  插入分类-->
    <insert id="insertSelective" parameterType="com.shop.po.OsCategory">
        insert into os_category
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">
                category_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="pageTitle != null">
                page_title,
            </if>
            <if test="pageDescription != null">
                page_description,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="categoryId != null">
                #{categoryId,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="pageTitle != null">
                #{pageTitle,jdbcType=VARCHAR},
            </if>
            <if test="pageDescription != null">
                #{pageDescription,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <!-- 更新分类 -->
    <update id="updateByPrimaryKeySelective" parameterType="com.shop.po.OsCategory">
        update os_category
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="pageTitle != null">
                page_title = #{pageTitle,jdbcType=VARCHAR},
            </if>
            <if test="pageDescription != null">
                page_description = #{pageDescription,jdbcType=VARCHAR},
            </if>
        </set>
        where category_id = #{categoryId,jdbcType=BIGINT}
    </update>
    <!--  更新分类-->
    <update id="updateByPrimaryKey" parameterType="com.shop.po.OsCategory">
		update os_category
		set name =#{name,jdbcType=VARCHAR},
		create_time =#{createTime,jdbcType=TIMESTAMP},
		update_time =#{updateTime,jdbcType=TIMESTAMP},
		page_title =#{pageTitle,jdbcType=VARCHAR},
		page_description =#{pageDescription,jdbcType=VARCHAR},
		where category_id = #{categoryId,jdbcType=BIGINT}
	</update>
	<!-- 根据商品id查分类 -->
	<select id="selectCategoryByProductId" parameterType="java.lang.Long" resultType="java.lang.Long">
	    select os_category.category_id from os_category,os_product where os_category.category_id=os_product.category_id and os_product.product_id=#{productId}
	</select>
	<!--  查询分类下的商品-->
     <select id="selectIndexCategory" resultMap="IndexCategory">
		SELECT
		os_category.category_id,
		os_category.`name`,
		os_product.product_id,
		os_product.product_number,
		os_product. NAME AS pname,
		os_product.show_price,
		os_product.introduce,
		os_product.pic_img,
		os_product.create_time,
		os_product.update_time,
		os_product.page_title,
		os_product.page_description,
		os_product.remarks
		FROM
		os_product,
		os_category
		WHERE os_category.category_id = os_product.category_id
	</select>
</mapper>
