<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shop.dao.OsProductMapper">
    <resultMap id="BaseResultMap" type="com.shop.po.OsProduct">
        <id column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="category_id" jdbcType="BIGINT" property="categoryId"/>
        <result column="product_number" jdbcType="BIGINT" property="productNumber"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="show_price" jdbcType="DECIMAL" property="showPrice"/>
        <result column="introduce" jdbcType="VARCHAR" property="introduce"/>
        <result column="pic_img" jdbcType="VARCHAR" property="picImg"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="page_title" jdbcType="VARCHAR" property="pageTitle"/>
        <result column="page_description" jdbcType="VARCHAR" property="pageDescription"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
         <result column="detail_img" jdbcType="VARCHAR" property="detailImg"/>
    </resultMap>

    <resultMap id="HotProduct" type="com.shop.po.OsProduct">
        <id column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="category_id" jdbcType="BIGINT" property="categoryId"/>
        <result column="product_number" jdbcType="BIGINT" property="productNumber"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="show_price" jdbcType="DECIMAL" property="showPrice"/>
        <result column="introduce" jdbcType="VARCHAR" property="introduce"/>
        <result column="pic_img" jdbcType="VARCHAR" property="picImg"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
        <result column="update_time" jdbcType="TIMESTAMP" property="updateTime"/>
        <result column="page_title" jdbcType="VARCHAR" property="pageTitle"/>
        <result column="page_description" jdbcType="VARCHAR" property="pageDescription"/>
        <result column="remarks" jdbcType="VARCHAR" property="remarks"/>
         <result column="detail_img" jdbcType="VARCHAR" property="detailImg"/>
    </resultMap>

    <sql id="Base_Column_List">
		product_id, category_id,product_number, name, show_price, introduce,
		pic_img, create_time,update_time,page_title,
		page_description, remarks,detail_img
	</sql>
	
	   <select id="getAllNewProduct" resultMap="BaseResultMap">
        select * from os_product order by create_time limit 0,6;
    </select>
    <select id="getAllHotProduct"  parameterType="java.util.List" resultMap="BaseResultMap">
        select * from os_product where product_number in
		<foreach item="hotProductnumber" index="index" collection="list" open="("  close=")" separator=",">  
          #{hotProductnumber.productNumber}   
        </foreach> 
    </select>
    
    <select id="getNewProduct" resultMap="BaseResultMap">
        select * from os_product where create_time > "2018-02-24" and category_id =#{categoryId,jdbcType=BIGINT}
    </select>
    
    <select id="getPriceDescProduct" resultMap="BaseResultMap">
        select * from os_product where category_id =#{categoryId,jdbcType=BIGINT} order by show_price desc
    </select>
    <select id="getPriceAscProduct" resultMap="BaseResultMap">
        select * from os_product where category_id =#{categoryId,jdbcType=BIGINT} order by show_price asc
    </select>
    
  <!--    <select id="getHotProduct"  parameterType="java.util.List" resultMap="BaseResultMap">
        select * from os_product where  category_id =#{categoryId,jdbcType=BIGINT} and product_number in
		<foreach item="hotProductnumber" index="index" collection="list" open="("  close=")" separator=",">  
          #{hotProductnumber.productNumber}  
        </foreach> 
    </select> -->
    <select id="selectByPrimaryKey" parameterType="java.lang.Long"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from os_product
        where product_id = #{productId,jdbcType=BIGINT}
    </select>
    <select id="selectByProductNumber" parameterType="java.lang.Long"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from os_product
        where product_number = #{productNumber,jdbcType=BIGINT}
    </select>
    
    <select id="selectProduct" parameterType="java.lang.String"
            resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from os_product
        where name like "%"#{name}"%"
    </select>
    
    <select id="selectProductNumberByProductId" parameterType="java.lang.Long"
            resultType="java.lang.Long">
		SELECT DISTINCT
            op.product_number
        FROM
            os_product_specification ops,
            os_product op
        WHERE
            ops.product_id = op.product_id
        AND op.product_id = #{productId,jdbcType=BIGINT}
	</select>
    <select id="selectNameByProductId" parameterType="java.lang.Long"
            resultType="java.lang.String">
        SELECT DISTINCT
        op.`name`
        FROM
        os_product_specification ops,
        os_product op
        WHERE
        ops.product_id = op.product_id
        AND op.product_id = #{productId,jdbcType=BIGINT}
    </select>

    <select id="selectProductByCategoryId" resultMap="BaseResultMap" parameterType="java.lang.Long">
        SELECT * FROM os_product WHERE category_id=#{category_id}
    </select>
	<!--查询所有分类下的商品  -->
    <select id="selectAll" resultMap="BaseResultMap" >
        SELECT * FROM os_product
    </select>
    <select id="getProductBySpecNumber" parameterType="java.lang.Long"
            resultMap="BaseResultMap">
        SELECT
            op.*
        FROM
            os_product_specification ops,
            os_product op
        WHERE
            ops.product_id = op.product_id
        AND ops.product_spec_number = #{productSpecNumber,jdbcType=BIGINT}
    </select>
    <select id="selectPicImgByProductId" parameterType="java.lang.Long"
            resultType="java.lang.String">
        SELECT DISTINCT
        op.pic_img
        FROM
        os_product_specification ops,
        os_product op
        WHERE
        ops.product_id = op.product_id
        AND op.product_id = #{productId,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
		delete from
		os_product
		where product_id = #{productId,jdbcType=BIGINT}
	</delete>
    <insert id="insert" parameterType="com.shop.po.OsProduct">
		insert into os_product
		(product_id, category_id,product_number, name,
		show_price, introduce, pic_img,
		create_time, update_time, page_title,
		page_description, remarks,detail_img)
		values
		(#{productId,jdbcType=BIGINT}, 
		#{categoryId,jdbcType=BIGINT},
		#{productNumber,jdbcType=BIGINT},
		#{name,jdbcType=VARCHAR},
		#{showPrice,jdbcType=DECIMAL},
		#{introduce,jdbcType=VARCHAR}, 
		#{picImg,jdbcType=VARCHAR},
		#{createTime,jdbcType=TIMESTAMP},
		 #{updateTime,jdbcType=TIMESTAMP},
		#{pageTitle,jdbcType=VARCHAR},
		#{pageDescription,jdbcType=VARCHAR},
		#{remarks,jdbcType=VARCHAR},
		#{detailImg,jdbcType=VARCHAR},)
	</insert>
    <insert id="insertSelective" parameterType="com.shop.po.OsProduct">
        insert into os_product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                product_id,
            </if>
              <if test="categoryId != null">
                category_id,
            </if>
            <if test="productNumber != null">
                product_number,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="showPrice != null">
                show_price,
            </if>
            <if test="introduce != null">
                introduce,
            </if>
            <if test="picImg != null">
                pic_img,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
            <if test="pageTitle != null">
                page_title,
            </if>
            <if test="pageDescription != null">
                page_description,
            </if>
            <if test="remarks != null">
                remarks,
            </if>
            <if test="detailImg != null">
                detail_img,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="productId != null">
                #{productId,jdbcType=BIGINT},
            </if>
             <if test="categoryId != null">
                #{categoryId,jdbcType=BIGINT},
            </if>
            <if test="productNumber != null">
                #{productNumber,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="showPrice != null">
                #{showPrice,jdbcType=DECIMAL},
            </if>
            <if test="introduce != null">
                #{introduce,jdbcType=VARCHAR},
            </if>
            <if test="picImg != null">
                #{picImg,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="pageTitle != null">
                #{pageTitle,jdbcType=VARCHAR},
            </if>
            <if test="pageDescription != null">
                #{pageDescription,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="detailImg != null">
                #{detailImg,jdbcType=VARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.shop.po.OsProduct">
        update os_product
        <set><if test="categoryId != null">
                 category_id= #{categoryId,jdbcType=BIGINT},
            </if>
            <if test="productNumber != null">
                product_number = #{productNumber,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="showPrice != null">
                show_price = #{showPrice,jdbcType=DECIMAL},
            </if>
            <if test="introduce != null">
                introduce = #{introduce,jdbcType=VARCHAR},
            </if>
            <if test="picImg != null">
                pic_img = #{picImg,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime,jdbcType=TIMESTAMP},
            </if>
            <if test="pageTitle != null">
                page_title = #{pageTitle,jdbcType=VARCHAR},
            </if>
            <if test="pageDescription != null">
                page_description = #{pageDescription,jdbcType=VARCHAR},
            </if>
            <if test="remarks != null">
                remarks = #{remarks,jdbcType=VARCHAR},
            </if>
            <if test="detailImg != null">
                detail_img = #{detailImg,jdbcType=VARCHAR},
            </if>
        </set>
        where product_id = #{productId,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.shop.po.OsProduct">
		update os_product
		set 
		category_id= #{categoryId,jdbcType=BIGINT},
		product_number = #{productNumber,jdbcType=BIGINT},
		name =#{name,jdbcType=VARCHAR},
		show_price = #{showPrice,jdbcType=DECIMAL},
		introduce = #{introduce,jdbcType=VARCHAR},
		pic_img =#{picImg,jdbcType=VARCHAR},
		create_time =#{createTime,jdbcType=TIMESTAMP},
		update_time =#{updateTime,jdbcType=TIMESTAMP},
		page_title =#{pageTitle,jdbcType=VARCHAR},
		page_description =#{pageDescription,jdbcType=VARCHAR},
		remarks =#{remarks,jdbcType=VARCHAR},
		detail_img =#{detailImg,jdbcType=VARCHAR}
		where product_id =#{productId,jdbcType=BIGINT}
	</update>

</mapper>