@charset "UTF-8";

.main-top1{
	background-color:#f4f4f4;
	width:100%;
	height:30px;
	float:left;
}
.main-top1-left{
	    font-family: Arial;
	float:left;
}
.li1,.li2{
	display: inline-block;
	float:left;
	list-style: none;
	padding-left:20px;
}
.main-top1-right{
	float: right !important;
}
a{
	color:#636363;
	text-decoration: none;	
	list-style: none;
}
.divv a:active,a:hover{
	color:#f53708;
}
.dropdownlist a {
	font-size:20px;
}
.dropdownlist {
	width:100px;
    display: none;
    position: absolute;
    background-color: #ffffff;
    min-width: 6px;
	box-shadow: 0 8px 1pc rgba(0,0,0,.18);
}
.li2:hover .dropdownlist {
    text-align:center;
	display: block;
	position:absolute;
	zindex:999;
	float:left;
   
}