@charset "UTF-8";
.page-main{
	width:1200px;
	height:100%;
	padding-top:20px;
	margin-left:auto;
	margin-right: auto;	
	float:left;
}
.ordermassage{
	margin-left:100px;
	float:left;
	width:500px;
	height:100%;
}
.ordermassage li{
	list-style: none;
	line-height: 50px;
}


.put-succeed{
	float:right;
	width:400px;
	height:100%;
}
.put-succeed .title{
	font-size:30px;
	color:blue;
}

.put-succeed span{
	margin-top: 40px;
	float:right;
	height:70px;
}
.put-succeed span a{
	font-size:20px;
	color:white;
	background-color: red;
}
.put-succeed .orderlist{
	margin-right: 150px;
}
